# PySpark and Big Data Project -  Solutions
* [View Solution Notebook](./solution.html)

* [Project Page Link](https://www.codecademy.com/courses/big-data-pyspark/projects/pyspark-common-crawl)

## Task Group 1 - Analyzing Common Crawl Data with RDDs

### Task 1

Initialize a new Spark Context and read in the domain graph as an RDD.

In [3]:
# Import required modules
from pyspark.sql import SparkSession

# Create a new SparkSession
spark = SparkSession \
    .builder \
    .getOrCreate()

# Get SparkContext
sc = spark.sparkContext

In [4]:
# Read Domains CSV File into an RDD
common_crawl_domain_counts = sc.textFile('./crawl/cc-main-limited-domains.csv')

# Display first few domains from the RDD
common_crawl_domain_counts.take(10)

['367855\t172-in-addr\tarpa\t1',
 '367856\taddr\tarpa\t1',
 '367857\tamphic\tarpa\t1',
 '367858\tbeta\tarpa\t1',
 '367859\tcallic\tarpa\t1',
 '367860\tch\tarpa\t1',
 '367861\td\tarpa\t1',
 '367862\thome\tarpa\t7',
 '367863\tiana\tarpa\t1',
 '367907\tlocal\tarpa\t1']

### Task 2

Apply `fmt_domain_graph_entry` over `common_crawl_domain_counts` and save the result as a new RDD named `formatted_host_counts`.

In [5]:
def fmt_domain_graph_entry(entry):
    """
    Formats a Common Crawl domain graph entry. Extracts the site_id, 
    top-level domain (tld), domain name, and subdomain count as seperate items.
    """

    # Split the entry on delimiter ('\t') into site_id, domain, tld, and num_subdomains
    site_id, domain, tld, num_subdomains = entry.split('\t')        
    return int(site_id), domain, tld, int(num_subdomains)

In [6]:
# Apply `fmt_domain_graph_entry` to the raw data RDD
formatted_host_counts = common_crawl_domain_counts.map(fmt_domain_graph_entry)

# Display the first few entries of the new RDD
formatted_host_counts.take(3)

[(367855, '172-in-addr', 'arpa', 1),
 (367856, 'addr', 'arpa', 1),
 (367857, 'amphic', 'arpa', 1)]

### Task 3

Apply `extract_subdomain_counts` over `common_crawl_domain_counts` and save the result as a new RDD named `host_counts`.

In [7]:
def extract_subdomain_counts(entry):
    """
    Extract the subdomain count from a Common Crawl domain graph entry.
    """
    
    # Split the entry on delimiter ('\t') into site_id, domain, tld, and num_subdomains
    site_id, domain, tld, num_subdomains = entry.split('\t')
    
    # return ONLY the num_subdomains
    return int(num_subdomains)


# Apply `extract_subdomain_counts` to the raw data RDD
host_counts = common_crawl_domain_counts.map(extract_subdomain_counts)

# Display the first few entries
host_counts.take(10)

[1, 1, 1, 1, 1, 1, 1, 7, 1, 1]

### Task 4

Using `host_counts`, calculate the total number of subdomains across all domains in the dataset, save the result to a variable named `total_host_counts`.

In [8]:
# Reduce the RDD to a single value, the sum of subdomains, with a lambda function
# as the reduce function
total_host_counts = host_counts.reduce(lambda x,y: (x+y))

# Display result count
print(total_host_counts)

595466

### Task 5

Stop the current `SparkSession` and `sparkContext` before moving on to analyze the data with SparkSQL

In [9]:
# Stop the sparkContext and the SparkSession
spark.stop()

## Task Group 2 - Exploring Domain Counts with PySpark DataFrames and SQL

### Task 6

Create a new `SparkSession` and assign it to a variable named `spark`.

In [10]:
from pyspark.sql import SparkSession

# Create a new SparkSession
spark = SparkSession.builder\
    .config('spark.app.name','domain_counts_project')\
    .getOrCreate()

### Task 7

Read `./crawl/cc-main-limited-domains.csv` into a new Spark DataFrame named `common_crawl`.

In [34]:
# Read the target file into a DataFrame
common_crawl = spark.read\
    .option('header', False) \
    .option('delimiter', '\t') \
    .option('inferSchema', False) \
    .csv("./crawl/cc-main-limited-domains.csv")

# Alternative if your file has no headers in it:
# Convert csv to RDD: rdd = spark.sparkContext.textFile("./crawl/cc-main-limited-domains.csv")
# Convert RDD to DF: rdd.toDF(['column_1', 'column_2',...])


# Display the DataFrame to the notebook
common_crawl.show(truncate=False)


common_crawl_domains.printSchema()

+--------+--------------+----+---+
|_c0     |_c1           |_c2 |_c3|
+--------+--------------+----+---+
|367855  |172-in-addr   |arpa|1  |
|367856  |addr          |arpa|1  |
|367857  |amphic        |arpa|1  |
|367858  |beta          |arpa|1  |
|367859  |callic        |arpa|1  |
|367860  |ch            |arpa|1  |
|367861  |d             |arpa|1  |
|367862  |home          |arpa|7  |
|367863  |iana          |arpa|1  |
|367907  |local         |arpa|1  |
|367908  |nic           |arpa|1  |
|48987160|1-20media     |coop|1  |
|48987161|134           |coop|1  |
|48987162|19            |coop|4  |
|48987163|1strochdale   |coop|1  |
|48987164|2012          |coop|4  |
|48987165|2012intlsummit|coop|1  |
|48987166|2147mans      |coop|1  |
|48987167|21stcentury   |coop|1  |
|48987168|2decologico   |coop|1  |
+--------+--------------+----+---+
only showing top 20 rows

root
 |-- site_id: string (nullable = true)
 |-- domain: string (nullable = true)
 |-- top_level_domain: string (nullable = true)
 |-- num_subdomains: string (nullable = true)

### Task 8

Rename the DataFrame's columns to the following: 

- site_id
- domain
- top_level_domain
- num_subdomains

In [33]:
# Rename the DataFrame's columns with `withColumnRenamed()`
common_crawl = common_crawl.toDF('site_id','domain','top_level_domain','num_subdomains')


  
# Display the first few rows of the DataFrame and the new schema
common_crawl.show(20,truncate=False)

common_crawl_domains.printSchema()

+--------+--------------+----------------+--------------+
|site_id |domain        |top_level_domain|num_subdomains|
+--------+--------------+----------------+--------------+
|367855  |172-in-addr   |arpa            |1             |
|367856  |addr          |arpa            |1             |
|367857  |amphic        |arpa            |1             |
|367858  |beta          |arpa            |1             |
|367859  |callic        |arpa            |1             |
|367860  |ch            |arpa            |1             |
|367861  |d             |arpa            |1             |
|367862  |home          |arpa            |7             |
|367863  |iana          |arpa            |1             |
|367907  |local         |arpa            |1             |
|367908  |nic           |arpa            |1             |
|48987160|1-20media     |coop            |1             |
|48987161|134           |coop            |1             |
|48987162|19            |coop            |4             |
|48987163|1strochdale   |coop            |1             |
|48987164|2012          |coop            |4             |
|48987165|2012intlsummit|coop            |1             |
|48987166|2147mans      |coop            |1             |
|48987167|21stcentury   |coop            |1             |
|48987168|2decologico   |coop            |1             |
+--------+--------------+----------------+--------------+
only showing top 20 rows

root
 |-- site_id: string (nullable = true)
 |-- domain: string (nullable = true)
 |-- top_level_domain: string (nullable = true)
 |-- num_subdomains: string (nullable = true)

## Task Group 3 - Reading and Writing Datasets to Disk

### Task 9

Save the `common_crawl` DataFrame as parquet files in a directory called `./results/common_crawl/`.

In [13]:
# Save the `common_crawl` DataFrame to a series of parquet files
common_crawl.write.parquet('./results/common_crawl/',mode="overwrite")

### Task 10

Read `./results/common_crawl/` into a new DataFrame to confirm our DataFrame was saved properly.

In [32]:
# Read from parquet directory
common_crawl_domains = spark.read\
    .option('header', True) \
    .option('delimiter', '\t') \
    .option('inferSchema', True) \
    .parquet("./results/common_crawl/")

# Display the first few rows of the DataFrame and the schema
common_crawl_domains.show(10,truncate=False)

common_crawl_domains.printSchema()

+-------+-----------+----------------+--------------+
|site_id|domain     |top_level_domain|num_subdomains|
+-------+-----------+----------------+--------------+
|367855 |172-in-addr|arpa            |1             |
|367856 |addr       |arpa            |1             |
|367857 |amphic     |arpa            |1             |
|367858 |beta       |arpa            |1             |
|367859 |callic     |arpa            |1             |
|367860 |ch         |arpa            |1             |
|367861 |d          |arpa            |1             |
|367862 |home       |arpa            |7             |
|367863 |iana       |arpa            |1             |
|367907 |local      |arpa            |1             |
+-------+-----------+----------------+--------------+
only showing top 10 rows

root
 |-- site_id: string (nullable = true)
 |-- domain: string (nullable = true)
 |-- top_level_domain: string (nullable = true)
 |-- num_subdomains: string (nullable = true)

## Task Group 4 - Querying Domain Counts with PySpark DataFrames and SQL

### Task 11

Create a local temporary view from `common_crawl_domains`

In [26]:
# Create a temporary view in the metadata for this `SparkSession`
common_crawl_domains.createOrReplaceTempView("crawl")

### Task 12

Calculate the total number of domains for each top-level domain in the dataset.

In [27]:
# Aggregate the DataFrame using DataFrame methods
# Count unique domains per TLD without importing functions
common_crawl_domains \
.select('top_level_domain', 'domain')\
.distinct()\
.groupBy('top_level_domain')\
.count()\
.withColumnRenamed("count", "domain_count")\
.orderBy("domain_count", ascending=False)\
.show(truncate=False)

+----------------+------------+
|top_level_domain|domain_count|
+----------------+------------+
|edu             |18547       |
|gov             |15007       |
|travel          |6313        |
|coop            |5319        |
|jobs            |3893        |
|post            |117         |
|map             |34          |
|arpa            |11          |
+----------------+------------+

In [31]:
# Aggregate the DataFrame using SQL
spark.sql("""
    SELECT 
        top_level_domain,
        COUNT(DISTINCT domain) AS domain_count
    FROM crawl
    GROUP BY top_level_domain
    ORDER BY domain_count DESC
""").show(truncate=False)

#common_crawl_domains.printSchema()

+----------------+------------+
|top_level_domain|domain_count|
+----------------+------------+
|edu             |18547       |
|gov             |15007       |
|travel          |6313        |
|coop            |5319        |
|jobs            |3893        |
|post            |117         |
|map             |34          |
|arpa            |11          |
+----------------+------------+

root
 |-- site_id: string (nullable = true)
 |-- domain: string (nullable = true)
 |-- top_level_domain: string (nullable = true)
 |-- num_subdomains: string (nullable = true)

### Task 13

Calculate the total number of subdomains for each top-level domain in the dataset.

In [36]:
# Aggregate the DataFrame using DataFrame methods
common_crawl_domains \
    .select('top_level_domain', common_crawl_domains.num_subdomains.cast('int')) \
    .groupBy('top_level_domain') \
    .sum('num_subdomains') \
    .withColumnRenamed('sum(num_subdomains)', 'domain_count') \
    .orderBy('domain_count', ascending=False) \
    .show(truncate=False)

+----------------+------------+
|top_level_domain|domain_count|
+----------------+------------+
|edu             |484438      |
|gov             |85354       |
|travel          |10768       |
|coop            |8683        |
|jobs            |6023        |
|post            |143         |
|map             |40          |
|arpa            |17          |
+----------------+------------+

In [39]:
# Aggregate the DataFrame using SQL
spark.sql("""
    SELECT 
        top_level_domain,
        sum(cast(num_subdomains AS int)) AS domain_count
    FROM crawl
    GROUP BY top_level_domain
    ORDER BY domain_count DESC
""").show(truncate=False)

+----------------+------------+
|top_level_domain|domain_count|
+----------------+------------+
|edu             |484438      |
|gov             |85354       |
|travel          |10768       |
|coop            |8683        |
|jobs            |6023        |
|post            |143         |
|map             |40          |
|arpa            |17          |
+----------------+------------+

### Task 14

How many sub-domains does `nps.gov` have? Filter the dataset to that website's entry, display the columns `top_level_domain`, `domain`, and `num_subdomains` in your result.

In [47]:
# Filter the DataFrame using DataFrame Methods
common_crawl_domains \
    .select('top_level_domain', 'domain', 'num_subdomains') \
    .filter(
            (common_crawl_domains.top_level_domain == 'gov') &
            (common_crawl_domains.domain == 'nps')
        ) \
    .show(truncate=False)

+----------------+------+--------------+
|top_level_domain|domain|num_subdomains|
+----------------+------+--------------+
|gov             |nps   |178           |
+----------------+------+--------------+

In [42]:
# Filter the DataFrame using SQL
spark.sql("""
    SELECT 
        top_level_domain,
        domain,
        num_subdomains
    FROM crawl
    where domain = 'nps'
    and top_level_domain = 'gov'
""").show(truncate=False)

+----------------+------+--------------+
|top_level_domain|domain|num_subdomains|
+----------------+------+--------------+
|gov             |nps   |178           |
+----------------+------+--------------+

### Task 15

Close the `SparkSession` and underlying `sparkContext`.

In [48]:
# Stop the notebook's `SparkSession` and `sparkContext`
spark.stop()